td{
  height: 150px;
  width: 150px;
  border: 5px solid black;
  text-align: center;
  font-size: 100px;
}
h1{
   margin: 0;
}
.top{ position: relative;

}
.head{
    height: 20%;
    width: 40%;
  margin: auto;
  padding-left: 20px;
   display: inline-block;
}
.board{
  background-color: grey;
  margin: auto;
}
button{
  background-color: grey;
}
.container{
  width:80%;
  height:300px;
  margin: auto;
}
